# **DADOS ABSOLUTOS E RELATIVOS**

In [1]:
import pandas as pd

# **PERCENTUAIS**

In [2]:
dados = {'empregos':['database_admin','programador','arquiteto_redes'],
         'nova jersey':[97350, 82080,112840],
         'ohio':[77140, 71540, 62310]}

In [4]:
type(dados)

dict

In [5]:
dados

{'empregos': ['database_admin', 'programador', 'arquiteto_redes'],
 'nova jersey': [97350, 82080, 112840],
 'ohio': [77140, 71540, 62310]}

In [6]:
dataset = pd.DataFrame(dados)

In [7]:
dataset

          empregos  nova jersey   ohio
0   database_admin        97350  77140
1      programador        82080  71540
2  arquiteto_redes       112840  62310

In [8]:
dataset['nova jersey'].sum()

292270

In [9]:
dataset['ohio'].sum()

210990

In [10]:
dataset['%_nova jersey'] = (dataset['nova jersey'] / dataset['nova jersey'].sum()) * 100

In [11]:
dataset

          empregos  nova jersey   ohio  %_nova jersey
0   database_admin        97350  77140      33.308242
1      programador        82080  71540      28.083621
2  arquiteto_redes       112840  62310      38.608136

In [12]:
dataset['%_ohio'] = (dataset['ohio'] / dataset['ohio'].sum()) * 100

In [13]:
dataset

          empregos  nova jersey   ohio  %_nova jersey     %_ohio
0   database_admin        97350  77140      33.308242  36.560974
1      programador        82080  71540      28.083621  33.906820
2  arquiteto_redes       112840  62310      38.608136  29.532205