In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('/content/drive/MyDrive/census.csv')

In [3]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
dataset2 = dataset[['education','income']]

In [5]:
dataset3 = pd.DataFrame(dataset2)

In [6]:
dataset3

         education  income
0        Bachelors   <=50K
1        Bachelors   <=50K
2          HS-grad   <=50K
3             11th   <=50K
4        Bachelors   <=50K
...            ...     ...
32556   Assoc-acdm   <=50K
32557      HS-grad    >50K
32558      HS-grad   <=50K
32559      HS-grad   <=50K
32560      HS-grad    >50K

[32561 rows x 2 columns]

In [7]:
dataset3 = dataset2.groupby(['education','income'])['education'].count()

In [8]:
dataset3

education      income
 10th           <=50K     871
                >50K       62
 11th           <=50K    1115
                >50K       60
 12th           <=50K     400
                >50K       33
 1st-4th        <=50K     162
                >50K        6
 5th-6th        <=50K     317
                >50K       16
 7th-8th        <=50K     606
                >50K       40
 9th            <=50K     487
                >50K       27
 Assoc-acdm     <=50K     802
                >50K      265
 Assoc-voc      <=50K    1021
                >50K      361
 Bachelors      <=50K    3134
                >50K     2221
 Doctorate      <=50K     107
                >50K      306
 HS-grad        <=50K    8826
                >50K     1675
 Masters        <=50K     764
                >50K      959
 Preschool      <=50K      51
 Prof-school    <=50K     153
                >50K      423
 Some-college   <=50K    5904
                >50K     1387
Name: education, dtype: int64

In [9]:
dataset3.index

MultiIndex([(        ' 10th', ' <=50K'),
            (        ' 10th',  ' >50K'),
            (        ' 11th', ' <=50K'),
            (        ' 11th',  ' >50K'),
            (        ' 12th', ' <=50K'),
            (        ' 12th',  ' >50K'),
            (     ' 1st-4th', ' <=50K'),
            (     ' 1st-4th',  ' >50K'),
            (     ' 5th-6th', ' <=50K'),
            (     ' 5th-6th',  ' >50K'),
            (     ' 7th-8th', ' <=50K'),
            (     ' 7th-8th',  ' >50K'),
            (         ' 9th', ' <=50K'),
            (         ' 9th',  ' >50K'),
            (  ' Assoc-acdm', ' <=50K'),
            (  ' Assoc-acdm',  ' >50K'),
            (   ' Assoc-voc', ' <=50K'),
            (   ' Assoc-voc',  ' >50K'),
            (   ' Bachelors', ' <=50K'),
            (   ' Bachelors',  ' >50K'),
            (   ' Doctorate', ' <=50K'),
            (   ' Doctorate',  ' >50K'),
            (     ' HS-grad', ' <=50K'),
            (     ' HS-grad',  ' >50K'),
            (     ' Masters', ' <=50K'),
            (     ' Masters',  ' >50K'),
            (   ' Preschool', ' <=50K'),
            ( ' Prof-school', ' <=50K'),
            ( ' Prof-school',  ' >50K'),
            (' Some-college', ' <=50K'),
            (' Some-college',  ' >50K')],
           names=['education', 'income'])

In [11]:
dataset3[' Bachelors', ' <=50K'], dataset3[' Bachelors',  ' >50K']

(3134, 2221)

In [12]:
3134 + 2221

5355

In [13]:
# >50k
2221/5355 * 100

41.47525676937442

In [14]:
# <=50k
3134/5355 * 100

58.52474323062559