In [1]:
import pandas as pd 
import numpy as np
import random
from sklearn.model_selection import StratifiedShuffleSplit

In [2]:
dataset = pd.read_csv('/content/drive/MyDrive/census.csv')

In [3]:
dataset['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [4]:
7841 / len(dataset), 24720 / len(dataset)

(0.2408095574460244, 0.7591904425539756)

In [5]:
0.2408095574460244 + 0.7591904425539756

1.0

In [6]:
100 / len(dataset)

0.0030711587481956942

In [7]:
split = StratifiedShuffleSplit(test_size = 0.0030711587481956942)
for x, y in split.split(dataset, dataset['income']):
  df_x = dataset.iloc[x]
  df_y = dataset.iloc[y]

In [8]:
df_x.shape, df_y.shape

((32461, 15), (100, 15))

In [9]:
df_y.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
1254,28,Self-emp-not-inc,218555,Some-college,10,Never-married,Transport-moving,Not-in-family,White,Male,0,1762,40,United-States,<=50K
21430,52,Local-gov,35092,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
17070,34,State-gov,98995,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
18336,68,State-gov,493363,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,United-States,<=50K
2864,29,Private,277788,Some-college,10,Married-civ-spouse,Sales,Wife,White,Female,0,0,25,United-States,<=50K

In [ ]:
df_y['income'].value_counts()

 <=50K    76
 >50K     24
Name: income, dtype: int64

In [ ]:
def amostragem_estratificada(dataset, percentual ):
  split = StratifiedShuffleSplit(test_size = percentual )
  for _, y in split.split(dataset, dataset['income']):
    df_y = dataset.iloc[y]
  return df_y

In [ ]:
df_amostra_estratificada = amostragem_estratificada(dataset, 0.0030711587481956942)
df_amostra_estratificada.shape

(100, 15)