In [4]:
import pandas as pd 
import numpy as np
import random
from sklearn.model_selection import StratifiedShuffleSplit

In [5]:
dataset = pd.read_csv('/content/drive/MyDrive/census.csv')

In [7]:
dataset['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [10]:
7841 / len(dataset), 24720 / len(dataset)

(0.2408095574460244, 0.7591904425539756)

In [11]:
0.2408095574460244 + 0.7591904425539756

1.0

In [17]:
100 / len(dataset)

0.0030711587481956942

In [18]:
split = StratifiedShuffleSplit(test_size = 0.0030711587481956942)
for x, y in split.split(dataset, dataset['income']):
  df_x = dataset.iloc[x]
  df_y = dataset.iloc[y]

In [19]:
df_x.shape, df_y.shape

((32461, 15), (100, 15))

In [22]:
df_y.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
22320,42,Local-gov,109684,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,1741,35,United-States,<=50K
4929,44,Self-emp-not-inc,187164,HS-grad,9,Divorced,Transport-moving,Unmarried,White,Male,0,0,60,United-States,<=50K
7421,22,State-gov,292933,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
25508,34,Private,157289,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
9320,34,Self-emp-not-inc,123429,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,<=50K

In [23]:
df_y['income'].value_counts()

 <=50K    76
 >50K     24
Name: income, dtype: int64